<h1>Editing language</h1>
<%= link_to 'Show', admin_language_path(@language) %> |
<%= link_to 'Back', admin_languages_path %>


<%= form_for(@language, :url => admin_language_path(@language)) do |f| %>

  <% if @language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@language.errors.count, "error") %> prohibited this language from being saved:</h2>

      <ul>
      <% @language.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :history %><br />
    <%= f.cktext_area :history, :toolbar => 'Basic' %>
  </div>
    <div class="field">
    <%= f.label :examples %><br />
    <%= f.cktext_area :examples, :toolbar => 'Basic' %>
  </div>
  <div class="field">
    <%= f.label :common %><br />
    <%= f.check_box :common %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

