<div class="search l">
   <%= form_tag country_works_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <button type="submit">Search</button>
<% end %>
</div>
<% @works.each do |work| %>
<div class="post l">
<div class="post_header l">

<%= link_to work.title, country_work_path(work.country.name, work) %>
</div>
<div class="post_ingress l">
  <p><b><%= link_to work.author.name, country_author_path(work.country.name, work.author) %></b></p>  <br/>
<%= truncate(work.summary, :length => 400) %>

</div>

</div>
<% end %>