<div class="col_1 l">

<table class="table_form">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
     <%= devise_error_messages! %>
      <tr><td>
    <%= f.label :email%>
    	</td><td>
    <%= f.text_field :email%>
  </td></tr>
<tr><td>	
    <%= f.label :password%></td><td>
    <%= f.password_field :password%>
  </td></tr>
<tr><td>
    <%= f.label :password_confirmation%></td><td>
    <%= f.password_field :password_confirmation%>
  </td></tr>
 <tr><td> 
    <%= f.label :firstname %></td><td>
    <%= f.text_field :firstname %>
  </td></tr>
 <tr><td> 
    <%= f.label :lastname %></td><td>
    <%= f.text_field :lastname %>
  </td></tr>
 <tr><td> 
    <%= f.label :country_id %></td><td>
    <%= f.select :country_id, @countries.map{ |country| [country.name, country.id] }, {:include_blank => true}  %>
  </td></tr>
 <tr><td> 
    <%= f.label :bio %></td><td>
    <%= f.text_field :bio %>
  </td></tr>
  <tr><td>
    <%= f.label :birth %></td><td>
    <%= f.date_select :birth, {:start_year => Time.now.year - 100}%>
  </td></tr>
<tr><td>
    </td><td><%= f.submit "Submit"%>
  </td></tr>

</table>
</div>
<div class="col_2 l">
<div class="lang_list">
	<p>What languages do you speak?</p>
	<div class"lang_common"><ul>
		<% for language in @languages_common%>
		<% unless @user.id.nil? %>
			<li><%= check_box_tag :language_ids, language.id, @user.languages.include?(language), :name => "user[language_ids][]" %>
	  		<%= language.name %></li>
  		<% else %>
	  		<li><%= check_box_tag :language_ids, language.id, false, :name => "user[language_ids][]"  %>
	  		<%= language.name %></li>
  		<% end %>
  <% end %></ul>
  <a id="more_languages" href="#">View more</a>
	</div>
	<div class="lang_not_common" style="display:none;">
		<ul>
		<% for language in @languages_not_common %>
		<% unless @user.id.nil? %>
		
			<li><%= check_box_tag :language_ids, language.id, @user.languages.include?(language), :name => "user[language_ids][]" %>
	  		<%= language.name %></li>
	  		
	  		
  		<% else %>
	  		<li><%= check_box_tag :language_ids, language.id, false, :name => "user[language_ids][]"  %>
	  		<%= language.name %></li>
  		<% end %>
  <% end %>
		</ul>
	</div>
</div>
<% end %>
</div>
