<%= form_for([:admin, @country]) do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
 
  <div class="field">
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.cktext_area :description, :toolbar => 'Basic', :skin => "v2" %>
  </div>
  <div class="field">
    <%= f.label :history %><br />
    <%= f.cktext_area :history, :toolbar => 'Basic', :skin => "v2" %>
  </div>
  <div class="field">
    <%= f.label :color %>(This is the color of the country for the map)<br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :path %>(This is the vektor path for the map. Do you know what your doing?<a href="#" class="enable_path">Click here</a>) <br />
    <%= f.text_area :path, :disabled => 'disabled' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
