<%= form_for(@post) do |f| %>
<div class="one_coloumn">
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
        </div>
  <% end %>

    <label for="post_title">Title <span class="small">(Please write something descriptive)</span></label><br/>
    <%= f.text_field :title %>

    <label for="post_text">Text <span class="small">(Please write at least 100 characters)</span></label><br/>
    <%= f.text_area :text %>

  <label for="author_text">Language <span class="small">(Please select a language)</span></label><br/>
    <%= f.select :language_id, current_user.languages.map{ |language| [language.name, language.id] }  %><br/>

   <button type="submit">Add post</button>

</div>  
<% end %>
