<div class="search">
   <%= form_tag admin_users_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>

    <button type="submit">Search</button>
<% end %>
  </div>
<h1>Listing users|<span class="new_link"><%= link_to 'New User', new_admin_user_path %></span></h1>
 <div class="flickr_pagination">
    <div class="page_info">
    </div>
   <%= will_paginate @users, :container => false %>
  </div>
<table id="list_table" class="tablesorter">
  <thead>
  <tr>
    <th>Points</th>
    <th>Name</th>
    <th>Email</th>
    <th>Language</th>
    <th>Country</th>

    <th>Age</th>

  </tr>
  </thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.points %></td>
    <td><%= mail_to user.email %></td>
    <td><%= user.name %></td>
       <td>
    <% user.languages.each do |l| %>

    	<%= l.name %> <br />

    <% end %>
          </td>

    <td><%= user.country.name %></td>
    <td><%= user.age %></td>
    <td><%= link_to 'Show', admin_user_path(user) %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>

    <td><%= link_to 'Destroy', admin_user_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
