<nav id="tabs"><ul>
  <li class="inactive enabled"><%= link_to @country.name, country_path(@country.name) %></li>
  <% if current_user %>
  <li class="inactive enabled"><%= link_to "Posts", country_posts_path(@country.name) %></li>
  <% end %>
  <li class="inactive enabled"><%= link_to "Works", country_works_path(@country.name) %></li>
   <li class="active enabled"><%= link_to "Authors", country_authors_path(@country.name) %></li></ul>
</nav>
<div class="search l">
   <%= form_tag country_authors_path(@country.name), :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <button type="submit">Search</button>
<% end %>
 </div>

<div class="info">
<h2>
  <%= @author.name %> <span class="small"><%= @author.birth_death%>
  <% if current_user and current_user.points > 200 %>
  | <%= link_to 'Edit', edit_author_path(@author) %>
  <% end %>
    </span>
</h2>


<div class="l author_lang_count">
<ul>
	<li>
		<h4>Country</h4>
		<ul style="padding-left:10px;">
			<li>
  				<%= link_to @author.country.name, country_path(@author.country.name  )%>
			</li>
		</ul>
	</li>
</ul>
<ul>
	<li>
		<h4>Language</h4>
		<ul style="padding-left:10px;">
			<li>
			  <%= link_to @author.language.name, language_path(@author.language.name )if @author.language %>
			</li>
		</ul>
	</li>
</ul>

</div>
<div class="l"><%= image_tag @author.portrait.url(:original)  if @author.portrait_file_name %></div>
<div class="author_bio">

  <%= markdown(@author.bio) %>
</div>
    <ul>
<% @author.works.each do |work| %>

        <li>
          <%= link_to work.title, country_work_path(@country.name, work)%>
        </li>

  <% end %>
        </ul>
     </div>
<%= render "public/news" %>